<% content_for :title, "Quests" %>

<div class="w-full flex flex-col justify-center items-center">
  <%# <% if notice.present? %>
    <%# <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice</p> %>
  <%# <% end %>

  <h1 class="font-sans text-6xl text-center text-[#D35400] tracking-widest mt-5 mb-1">Umpika Mettatam</h1>
  <h1 class="text-lg text-center text-[#D35400] opacity-50 tracking-widest mt-1 mb-5">アンピカ　メッタタム</h1>
  
  <div class="flex justify-center items-center pb-16">
    <div class="text-center hover:shadow-lg cursor-pointer">
      <%= link_to "Brags", brags_path, class: "px-24 py-4 rounded-md font-bold tracking-wide text-2xl bg-[#D35400] hover:bg-[#E67E22] text-white block font-medium" %>
    </div>
  </div>

<div class="bg-[#F6DAC7] rounded-xl flex flex-col items-center sm:w-3/5 sm:min-3/5">
  <img src="<%= asset_path('8F894D8E-973C-4CF5-94D1-F536C768F96A_1_105_c.jpeg') %>" alt="image" class="w-[calc(100%-32px)] pt-4 sm:w-fit max-auto sm:px-8 sm:pt-8">
  <p class= "text-xs text-[#D35400] w-[calc(100%-32px)] pt-4 pb-4 sm:w-auto sm:text-sm sm:px-8">
    "Hi! I’m an architect who has worked as a interior designer, urban engineer, and researcher.
    I’m currently on my way to becoming a software developer — but honestly, I just want to explore everything that excites me"
  </p>
</div>

<%# <div class="flex pt-16 pb-8 px-4 w-full content-center items-center justify-between sm:justify-around"> %>
  <%# <h1 class="font-mono text-3xl text-life text-[#D35400] font-bold tracking-widest">QUESTS:</h1> %>
    <%# <%= link_to "Add Task", new_quest_path, class: "px-3.5 py-2.5 rounded-md font-bold tracking-wide bg-[#D35400] hover:bg-[#E67E22] text-white block font-medium" %>
<%# </div> %>

<div class="sm:w-7/8 sm:min-7/8">
  <div class="flex flex-col pt-16 pb-8 px-4 w-full">
    <h1 class="font-mono text-3xl text-life text-[#D35400] font-bold tracking-widest">QUESTS:</h1>
    <%= render "form", quest: @quest %>
  </div>

  <div class="w-full pb-8">
    <div id="quests" class="divide-y divide-gray-200 space-y-5">
      <% if @quests.any? %>
        <% @quests.order(created_at: :desc).each do |quest| %>
        <div class="flex flex-row justify-between sm:items-center pb-5 sm:pb-0 gap-4 sm:gap-0 items-center content-center">
          <%= render quest %>
          <div class="px-4 sm:w-auto flex flex-col sm:flex-row gap-2">
            <%= button_to quest, method: :delete, class: "sm:w-auto text-[#D35400] font-medium cursor-pointer", data: { testid: "delete_icon", turbo_confirm: "Are you sure?" } do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
              </svg>
            <% end %>
          </div>
        </div>
        <% end %>
      <% else %>
        <p class="text-center my-10">No quests found.</p>
      <% end %>
    </div>
  </div>
</div>
